<div class="row">
 <div class=" small-centred columns ">
  <% @meetings.each do |meeting| %>
   <div class="small-2 large-4 columns end">
        <div class="callout-card primary">
          <div class="card-label">
            <div class="label-text">
              All
            </div>
          </div>

          <article class="event">
          <div class="event-date" >
             <p class="event-month" ><%= meeting.start_time.strftime("%b")%></p>
             <p class="event-day"><%= meeting.start_time.strftime("%d")%></p>
          </div>
          </article>

          <div class="callout-card-content">
            <h3 class="lead" align="center"><%= truncate ( meeting.name ) %></h3>
            <h6 class="lead" align="center">By <%= truncate (meeting.user_id) %></h3>
            <p align="center"><%= link_to 'Show', meeting %>
          <br>
            <% if meeting.user_id == current_user.id %>
                <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }%>
              <% else %>
                <br>
            <% end %>
              </p>
           </div>
        </div>
      </div>
     <% end %>
     </div>
     </div>
