<head>
  <link href="style.css" rel="stylesheet">
</head>

<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
 <div class="small-6 columns">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Event's name" %>
    </div>
    <div class="field">
      <%= f.label :details %> <br>
      <%= f.text_field :details,  placeholder: "Event's details"%>
    </div>
    <div class="field">
      <%= f.label :place %> <br>
      <%= f.text_field :place, placeholder: "Event's place" %>
    </div>
    <div class="field">
      <%= f.label :note %> <br>
      <%= f.text_field :note,  placeholder: "Event's note" %>
    </div>
    <div class="field">
      <%= f.label :priority %>
      <%= f.text_field :priority, placeholder: "Event's priority. It's a number." %>
    </div>

</div>
<div class="small-6 columns ">
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
      <br><br><br>
  </div>
  </div>
  <br><br><br><br><br><br><br><br><br>


<div class="small-12 columns">

   <div class="actions" align="center">


    <%= f.submit "CREATE MEETING", class: "small secondary button"  %>
    <%= link_to 'return', my_meetings_path, class: " small secondary button" %>

   </div>
   </div>
    <% end %>
</div>
</div>
</div>


